body {
    background:aliceblue;
}
button {
    border: none;
    cursor: pointer;
}

.container {
    background-color: black;
    width: 30%;
    margin:  40px auto;
    padding: 20px;
    border-radius: 20px;
}

.top {
    display: inline-grid;
    align-items: center;
    gap: 20px;
}

.profile-btn {
    width: 50%;
    height: 120px;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
}
.profile-btn img {
    width:100%;
    height: 90%;
    object-fit: cover;
}
.side-btn {
    display: grid;
    grid-template-rows: 1fr 1fr;
    flex-direction: row;
    gap: 20px;
    width: 100px;
    height: 80px;
    margin-left: 250px;
    margin-bottom: -10px;
}

.btn-pink {
    background-color: deeppink;
    border-radius: 20px;
}

.btn-purple {
    background-color: purple;
    border-radius: 20px;
}

.long-btn {
    width: 100%;
    height: 70px;
    border-radius: 35px;
    margin: 25px 0;
    background-color:orange
}
.middle {
    display: flex;
    gap: 10px;
}
.mid-btn {
    flex: 1;
    height: 120px;
    border-radius: 20px;
}
.blue {
    background-color:blue
}
 .yellow {
  background-color: #eacedb;
 }
 .green {
    background-color: green;
 }

 .circles {
    display: flex;
    gap: 15px;
    margin-top: 25px;
 }
 .circle-btn {
    width: 55px;
    height: 55px;
    border-radius: 30%;
    background-color: beige;
 }