html{
    font-family: 'Times New Roman', Times, serif;
    background-color: blue;
    color: white;
}

.header{
    font-size: larger;
    text-align: center;
    margin: 3px;
}

.content{
    display: flex;
    width: 80%;
    gap: 5%;
    margin-left: 10%;
}

.content p{
    text-align: center;
    background-color: aqua;
    color: black;
    padding: 20px;
    border-radius: 10%;
}